/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/soc";
		__overlay__ {
			joy_stick:  joystick@0 {
				compatible = "equipe03,esp32_joystick";
				latch-gpios = <&gpio 17 0>;
				clk-gpios   = <&gpio 27 0>;
				data-gpios  = <&gpio 22 0>;
				message = "Have a good life";
				status = "okay";
			};
		};
	};
	__overrides__ {
        latch_pin = <&joy_stick>, "latch-gpios:4";
        clk_pin   = <&joy_stick>, "clk-gpios:4";
        data_pin  = <&joy_stick>, "data-gpios:4";
    };
};
